/2019nCoVData/bin/Debug/netcoreapp3.1/2019nCoVData.deps.json
/2019nCoVData/bin/Debug/netcoreapp3.1/2019nCoVData.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/2019nCoVData.exe
/2019nCoVData/bin/Debug/netcoreapp3.1/2019nCoVData.pdb
/2019nCoVData/bin/Debug/netcoreapp3.1/2019nCoVData.runtimeconfig.dev.json
/2019nCoVData/bin/Debug/netcoreapp3.1/2019nCoVData.runtimeconfig.json
/2019nCoVData/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/ConTabs.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/ConsoleTables.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Dapper.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/DotnetSpider.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/EPPlus.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/HtmlAgilityPack.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/LZ4.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/LZ4pn.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/MailKit.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Abstractions.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Abstractions.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Features.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/MimeKit.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/MySqlConnector.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Serilog.AspNetCore.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Serilog.Extensions.Logging.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Serilog.Sinks.Console.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Serilog.Sinks.File.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Serilog.Sinks.PeriodicBatching.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Serilog.Sinks.RollingFile.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/Serilog.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Pkcs.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/WebDriver.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/data.json
/2019nCoVData/bin/Debug/netcoreapp3.1/data.txt
/2019nCoVData/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netstandard2.0/System.Data.SqlClient.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Cryptography.Pkcs.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/2019nCoVData/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Data.SqlClient.dll
/2019nCoVData/nCoVData.cs
/2019nCoVData/obj/2019nCoVData.csproj.nuget.cache
/2019nCoVData/obj/2019nCoVData.csproj.nuget.dgspec.json
/2019nCoVData/obj/2019nCoVData.csproj.nuget.g.props
/2019nCoVData/obj/2019nCoVData.csproj.nuget.g.targets
/2019nCoVData/obj/Debug/netcoreapp3.1/2019nCoVData.AssemblyInfo.cs
/2019nCoVData/obj/Debug/netcoreapp3.1/2019nCoVData.AssemblyInfoInputs.cache
/2019nCoVData/obj/Debug/netcoreapp3.1/2019nCoVData.assets.cache
/2019nCoVData/obj/Debug/netcoreapp3.1/2019nCoVData.csproj.CopyComplete
/2019nCoVData/obj/Debug/netcoreapp3.1/2019nCoVData.csproj.FileListAbsolute.txt
/2019nCoVData/obj/Debug/netcoreapp3.1/2019nCoVData.csprojAssemblyReference.cache
/2019nCoVData/obj/Debug/netcoreapp3.1/2019nCoVData.dll
/2019nCoVData/obj/Debug/netcoreapp3.1/2019nCoVData.exe
/2019nCoVData/obj/Debug/netcoreapp3.1/2019nCoVData.pdb
/2019nCoVData/obj/project.assets.json
